<!-- templates/movies/index.html -->
{% extends 'base.html' %}
{% block content %}
{% load static %}


<div class="container">
    <h1>MittFlix</h1>


    <form method="get">
        <input type="text" name="q" value="{{ request.GET.q }}" placeholder="Search here" />
        <button class="btn" type="submit" name="action">Search</button>
    </form>

    <table>
        <tr>
            <th>Title</th>
            <th>Type</th>
        </tr>
        {% for m in movies %}
        {% if m.type == 1 %}
        <tr onclick="clickLink(this)" data-href="{% url 'movies:media_player' m.id %}">
        {% else %}    
        <tr onclick="clickLink(this)" data-href="{% url 'movies:episode_select' m.id %}">
        {% endif %}
            <td>{{ m.title }}</td>
            <td>{{ m.type }}</td>
        </tr>
        {% endfor %}
    </table>


    <!-- Pagination buttons -->
    {% if customers.has_other_pages %}
    <div class="pagination flex">
        {% if customers.has_previous %}
        <a href="?page={{ customers.previous_page_number }}{% if search %}{{ search  }}{% endif %}">
            <div>&laquo;</div>
        </a>
        {% else %}
        <div class="disabled"><span>&laquo;</span></div>
        {% endif %}
        {% for i in customers.paginator.page_range %}
        {% if customers.number == i %}
        <div class="active"><span>{{ i }} <span class="sr-only"></span></span></div>
        {% else %}
        <a href="?page={{ i }}{% if search %}{{ search  }}{% endif %}"><div>{{ i }}</div></a>
        {% endif %}
        {% endfor %}

        {% if customers.has_next %}
        <a href="?page={{ customers.next_page_number }}{% if search %}{{ search  }}{% endif %}">
            <div>&raquo;</div>
        </a>
        {% else %}
        <div class="disabled"><span>&raquo;</span></div>
        {% endif %}
    </div>
    {% endif %}

</div>
{% endblock %}
